body{
 background-color: lightcyan;
 color: darkblue;
  }
.heading
  {
  width: 100%;                 
  font-size: 25px;            
}            
#bold, #result_object_accuracy,#result_object_name            
{               
  color: darkcyan;            
}             
#camera, #result     
{
border: 2px dashed black;
 width: 350px;
 height: 300px;
 }